* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/css/Mypage/img/20240112_153849.jpg);
    background-size: cover;
}

h1 {
    margin-left: 32px;
    margin-top: 32px;
    color: #fff;
}

button {
    background-color: #555;
    border: 4px solid #000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-left: 30px;
    padding: 30px;
    width: 200px;
    height: 200px;
}